<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRS - Check-in</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css')}}" />
</head>
<body>
    <div class="navbar">
        <a href="index.html">Home</a>
        <a href="about.html">About Us</a>
        <a href="terms.html">Terms and Conditions</a>   
    </div>
    <script src=""></script> <!-- To be inserted -->
    <footer>
        <p><i>&copy;2024 FRS. All rights reserved.</i></p>
    </footer>
</body>
</html>