<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Face Recognition System (FRS)</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css')}}" />
  </head>
  <body>
    <div class="navbar">
      <a href="index.html">Home</a>
      <a href="about.html">About Us</a>
      <a href="terms.html">Terms and Conditions</a>   
    </div>
    <div class="frs-title">
      <h1>Face Recognition System (FRS)</h1>
    </div>
    <div class="frs-content">
      <h3>Group Members:</h3>
        <ul>
          <li>Kai Chun Goh</li>
          <li>Khang Huynh Bao Duong</li>
          <li>Wei Jin Gnoh</li>
          <li>Yu Qing Leong</li>
        </ul>
    </div>
    <div class="buttons">
      <a href="register.html" class="button">Register New User</a>
      <a href="checkin.html" class="button">Check-in</a>
    </div>
    <footer>
      <p><i>&copy;2024 FRS. All rights reserved.</i></p>
    </footer>
  </body>
</html>
