<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRS - Register New User</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css')}}" />
</head>
<body>
    <div class="navbar">
        <a href="index.html">Home</a>
        <a href="about.html">About Us</a>
        <a href="terms.html">Terms and Conditions</a>   
    </div>
    <div class="login-form">
        <form action="http://localhost:5000/login" method="post">
            <p>Enter your Username:</p>
            <p><input type="text" name="username" /></p>
            <p><input type="submit" value="submit" /></p>
        </form>
        
    </div>
    <div class="tandc">
        <h3>Terms and Conditions</h3>
        <p>By using this website, you agree to our terms and conditions:</p>
        <p>We collect and process your facial landmark coordinates and images solely for improving our services. Your images will be deleted after use.</p>
        <p>We prioritize the security and confidentiality of your data. We do not disclose your data to third parties without your consent.</p>
        <p>For more details, please read our <a href="terms.html">full terms and conditions</a>.</p>
    </div>
    <footer>
        <p><i>&copy;2024 FRS. All rights reserved.</i></p>
    </footer>
</body>
</html>
